<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Reset Password Success</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
        <meta content="Themesbrand" name="author" />
        <!-- App favicon -->
        <link rel="shortcut icon" href="<%= process.env.PUBLIC_URL %>/public/assets/images/favicon.ico">
        <%- include ('../Partials/HeaderStyle')  %>
    </head>
    <body>
        <div class="account-pages my-5 pt-sm-5">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-center mb-5 text-muted">
                            <!-- <a href="/" class="d-block auth-logo">
                                <img src="<%= process.env.PUBLIC_URL %>/public/assets/images/logo-dark.png" alt="" height="20" class="auth-logo-dark mx-auto">
                                <img src="<%= process.env.PUBLIC_URL %>/public/assets/images/logo-light.png" alt="" height="20" class="auth-logo-light mx-auto">
                            </a>
                            <p class="mt-3">Responsive Bootstrap 5 Admin Dashboard</p> -->
                        </div>
                    </div>
                </div>
                <!-- end row -->
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-7 col-xl-7">
                        <div class="card">
                            <div class="card-body"> 
                                <div class="p-2 mt-5">
                                    <div class="text-center">
                                        <div class="avatar-md mx-auto">
                                            <div class="avatar-title rounded-circle bg-light" >
												<i class='bx bx-check-circle h1 mb-0 text-success' style="font-size: 140px;"></i>
                                            </div>
                                        </div>
                                        <div class="p-2 mt-5">
                                            <h4>Success !</h4>
											<p>Password Reset Successfully.</p>
                                            <div class="mt-4">
                                                <!-- <a href="/" class="btn btn-success">Back to Home</a> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mt-5 text-center">
                            <!-- <p>© <script>document.write(new Date().getFullYear())</script> Skote. Crafted with <i class="mdi mdi-heart text-danger"></i> by Themesbrand</p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include ('../Partials/FooterScript')  %>
        <!-- App js -->
        <script src="<%= process.env.PUBLIC_URL %>/public/assets/js/app.js"></script>
    </body>
</html>
