<%- contentFor('HeaderCss') %>

<link href="<%=process.env.APP_URL%>/public/assets/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css">

<%- contentFor('breadcrumb') %>

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">History</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="<%= process.env.APP_URL %>/">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="#">History</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end page title -->

<%- contentFor('body') %>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form class="row gy-2 gx-3 align-items-center" method="post" action="">
					<div class="row">
                        <div class="col-md-3">
                            <div class="mb-3">
                                <label class="form-label" for="autoSizingSelect">History for <span class="text-danger">*</span></label>
								<select name="historyType" class="form-select" id="autoSizingSelect" required>
									<option value="" selected disabled>Select History type</option>
									<option value="1">PPM</option>
									<option value="2">FRC</option>
									<option value="2">Rating</option>
								</select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                <label class="form-label" for="autoSizingSelect">Property <span class="text-danger">*</span></label>
								<select name="propertyId" class="form-select" id="autoSizingSelect" required>
									<option value="" selected disabled>Select Property</option>
									<% for (i = 0; i < PropertyList.length; i++) { %>
										<option value="<%= PropertyList[i]._id %>"><%= PropertyList[i].property_name %></option>
									<% } %>
								</select>
                            </div>
                        </div>
						<div class="col-md-3">
                            <div class="mb-3">
                                <label class="form-label" for="autoSizingInput">Start Date <span class="text-danger">*</span></label>
								<div class="input-group" id="datepicker1">
									<input type="text" name="startDate" class="form-control" id="autoSizingInput" placeholder="dd-mm-yyyy" data-date-format="dd-mm-yyyy" data-date-container='#datepicker1' data-provide="datepicker" data-date-autoClose="true" data-date-end-date="new Date()" required>
									<span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
								</div>
                            </div>
                        </div>
						<div class="col-md-3">
                            <div class="mb-3">
                                <label class="form-label" for="autoSizingInputGroup">End Date <span class="text-danger">*</span></label>
								<div class="input-group" id="datepicker2">
									<input type="text" name="endDate" class="form-control" id="autoSizingInputGroup" placeholder="dd-mm-yyyy" data-date-format="dd-mm-yyyy" data-date-container='#datepicker2' data-provide="datepicker" data-date-autoClose="true" data-date-end-date="new Date()" required>
									<span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
								</div>
                            </div>
                        </div>
						<div class="col-md-3">
                            <div class="mb-3">
                                <label class="form-label" for="autoSizingSelect">Status </label>
								<select name="status" class="form-select" id="autoSizingSelect">
									<option selected disabled>Select Status</option>
									<option value="1">Complete Task</option>
									<option value="2">Pending Task</option>
								</select>
                            </div>
                        </div>
                    </div>
					<div class="row">
						<div class="col-md-12 text-center">
							<button type="submit" class="btn btn-warning w-md">Search</button>
						</div>
					</div>
                </form>
            </div> <!-- end card body -->
        </div> <!-- end card -->
    </div> <!-- end col -->
</div> <!-- end row -->

<%- contentFor('FooterJs') %>

<script src="<%=process.env.APP_URL%>/public/assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>

<% if(error.length> 0) { %>
    <script>
        toastr.error('<%= error %>');
    </script>
<% } %>
<% if(message.length> 0) { %>
    <script>
        toastr.success('<%= message %>');
    </script>
<% } %>
<%- contentFor('BottomJs') %>