<%- contentFor('HeaderCss') %>
<!-- DataTables || Responsive DataTable examples -->
<link href="<%=process.env.APP_URL%>/public/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="<%=process.env.APP_URL%>/public/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="<%=process.env.APP_URL%>/public/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<!-- bootstrap-datepicker -->
<link href="<%=process.env.APP_URL%>/public/assets/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css">

<%- contentFor('breadcrumb') %>

<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">Rating Report</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="<%=APP_URL%>/">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="#">Rating Report</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end page title -->

<%- contentFor('body') %>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <form class="row gy-2 gx-3 align-items-center" method="post" action="<%=APP_URL%>/history">
					<div class="row">
                        <div class="col-md-3">
                            <div class="mb-3">
                                <label class="form-label" for="autoSizingSelect">Report for <span class="text-danger">*</span></label>
								<select name="historyType" class="form-select" id="autoSizingSelect" required>
									<option value="1">PPM</option>
									<option value="2" selected>FRC</option>
									<option value="3" selected>Rating</option>
								</select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="mb-3">
                                <label class="form-label" for="autoSizingSelect">Property <span class="text-danger">*</span></label>
								<select name="propertyId" class="form-select" id="autoSizingSelect">
									<option selected disabled>Select Property</option>
									<% for (i = 0; i < PropertyList.length; i++) { %>
										<option value="<%= PropertyList[i]._id %>" <%= data.propertyId == PropertyList[i]._id ? 'selected' : '' %>><%= PropertyList[i].property_name %></option>
									<% } %>
								</select>
                            </div>
                        </div>
						<div class="col-md-3">
                            <div class="mb-3">
                                <label class="form-label" for="autoSizingInput">Start Date <span class="text-danger">*</span></label>
								<div class="input-group" id="datepicker1">
									<input type="text" name="startDate" value="<%= data.startDate %>" class="form-control" id="autoSizingInput" placeholder="dd-mm-yyyy" data-date-format="dd-mm-yyyy" data-date-container='#datepicker1' data-provide="datepicker" data-date-autoClose="true">
									<span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
								</div>
                            </div>
                        </div>
						<div class="col-md-3">
                            <div class="mb-3">
                                <label class="form-label" for="autoSizingInputGroup">End Date <span class="text-danger">*</span></label>
								<div class="input-group" id="datepicker2">
									<input type="text" name="endDate" value="<%= data.endDate %>" class="form-control" id="autoSizingInputGroup" placeholder="dd-mm-yyyy" data-date-format="dd-mm-yyyy" data-date-container='#datepicker2' data-provide="datepicker" data-date-autoClose="true" required>
									<span class="input-group-text"><i class="mdi mdi-calendar"></i></span>
								</div>
                            </div>
                        </div>
                    </div>
					<div class="row">
						<div class="col-md-12 text-center">
							<button type="submit" class="btn btn-warning w-md">Search</button>
						</div>
					</div>
                </form>
            </div> <!-- end card body -->
        </div> <!-- end card -->
    </div> <!-- end col -->
</div> <!-- end row -->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
				<div class="row">
					<div class="col-12">
						<table id="datatable-buttons" data-report="Rating" class="table table-bordered dt-responsive nowrap w-100">
							<thead>
							<tr>
								<th style="text-align: center;">#</th>
								<th style="text-align: center;">Auditor</th>
								<th style="text-align: center;">Group</th>
								<th style="text-align: center;">Topic</th>
								<th style="text-align: center;">Weightage</th>
								<th style="text-align: center;">Point</th>
								<th style="text-align: center;">Percentage</th>
							</tr>
							</thead>
							<tbody>
								<% for( let i = 0; i < ManageRatingTaskData?.length; i++ ) { %>
									<tr>
										<td style="text-align: center;"><%= i+1 %></td>
										<td style="text-align: center;"><%= ManageRatingTaskData[i].auditorId.full_name %></td>
										<td style="text-align: center;"><%= ManageRatingTaskData[i].assignGroups[0].groupId ? ManageRatingTaskData[i].assignGroups[0].groupId.groupName : '--' %></td>
										<td style="text-align: center;"><%= ManageRatingTaskData[i].assignGroups[0].assignTopics ? ManageRatingTaskData[i].assignGroups[0].assignTopics[0].topicId.topicName : '--' %></td>
										<td style="text-align: center;"><%= ManageRatingTaskData[i].totalWeightage %></td>
										<td style="text-align: center;"><%= ManageRatingTaskData[i].totalPoint %></td>
										<td style="text-align: center;"><%= ManageRatingTaskData[i].totalPercentage %></td>
									</tr>
								<% } %>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<%- contentFor('FooterJs') %>
<!-- Required dataTable js -->
<script src="<%=process.env.APP_URL%>/public/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="<%=process.env.APP_URL%>/public/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<!-- Buttons examples -->
<script src="<%=process.env.APP_URL%>/public/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="<%=process.env.APP_URL%>/public/assets/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
<script src="<%=process.env.APP_URL%>/public/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
<!-- Responsive examples -->
<script src="<%=process.env.APP_URL%>/public/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="<%=process.env.APP_URL%>/public/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
<!-- DataTable init js -->
<script src="<%=process.env.APP_URL%>/public/assets/js/pages/datatables.init.js"></script>
<!-- bootstrap-datepicker -->
<script src="<%=process.env.APP_URL%>/public/assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>

<%- contentFor('BottomJs') %>
