<%- contentFor('HeaderCss') %>
<%- contentFor('breadcrumb') %>
<style>
    .text-center{text-align: center;}
</style>
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">View History</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="/history">History</a></li>
                    <li class="breadcrumb-item active">View History</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end page title -->
<%- contentFor('body') %>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-md-6">
                        <h4>View History</h4>
                    </div>
                    <div class="col-sm-6">
                        <a href="/history" class="text-center btn btn-warning waves-effect waves-light" style="align-items: center;float: right;"> <b>Back</b> </a>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <div class="table-responsive" style="border: 1px solid #d1d1d1; border-radius: 22px; padding: 12px;">
                            <table class="table mb-0">
                                <tbody>
                                    <tr>
                                        <td>Check List Name :-</td>
                                        <td>Check engine Oil Level And Top up if Necesery</td>
                                    </tr>
                                    <tr>
                                        <td>Check List % :-</td>
                                        <td>60%</td>
                                    </tr>
                                    <tr>
                                        <td>Statust :-</td>
                                        <td>Panding</td>
                                    </tr>
                                    <tr>
                                        <td>Assign Name :-</td>
                                        <td>Assign Name 1</td>
                                    </tr>
                                    <tr>
                                        <td>Type :-</td>
                                        <td>Form</td>
                                    </tr>
                                    <tr>
                                        <td>Completion Date :-</td>
                                        <td>10/05/2021</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <br>
                        <br>
                        <h3>40% UnComplete Checklist</h3>
                        <p>Check engine Oil Level And Top up if Necesery</p>
                        <p>Check engine Oil Level And Top up if Necesery</p>
                        <p>Check engine Oil Level And Top up if Necesery</p>
                        <p>Check engine Oil Level And Top up if Necesery</p>
                        <p>Check engine Oil Level And Top up if Necesery</p>
                        <p>Check engine Oil Level And Top up if Necesery</p>
                        <p>Check engine Oil Level And Top up if Necesery</p>
                        <p>Check engine Oil Level And Top up if Necesery</p>
                        <p>Check engine Oil Level And Top up if Necesery</p>
                        <p>Check engine Oil Level And Top up if Necesery</p>
                        <p>Check engine Oil Level And Top up if Necesery</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end row -->
<%- contentFor('FooterJs') %>
<%- contentFor('BottomJs') %>