<%- contentFor('HeaderCss') %>
<%- contentFor('breadcrumb') %>
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">Add FRC</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="<%= process.env.APP_URL %>/">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="<%= process.env.APP_URL %>/categories">Master Category</a></li>
                    <li class="breadcrumb-item"><a href="<%= process.env.APP_URL %>/edit-category-checklist/<%= category_id %>">Category Name</a></li>
                    <li class="breadcrumb-item active">Add FRC</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end page title -->
<%- contentFor('body') %>
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Add FRC</h4>
                <form action="<%= process.env.APP_URL %>/store-category-checklist" method="POST" class="custom-validation">
                    <div class="row">
                        <div class="col-xl-4">
                            <div class="mb-3">
                                <label class="form-label">Select Category<span class="required">*</span></label>
                                <select class="form-select" name="category_id" required>
                                    <option value="">Select Category</option>
                                    <% for(c = 0; c < categoryData.length; c++) { %>
                                        <option value="<%= categoryData[c]._id %>"><%=categoryData[c].category_name%></option>
                                    <% } %>
                                </select>
                                <p style="color: red;"><%=(typeof errors!='undefined' && typeof errors.type!='undefined' )? errors.type.msg:''%></p>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="mb-3">
                                <label class="form-label">FRC Id<span class="required">*</span></label>
                                <input type="text" name="checklist_id" value="CREST/FRC/HK/<%= uniqueId %>" class="form-control" placeholder="Enter FRC Id" style="text-transform:uppercase">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-4">
                            <div class="mb-3">
                                <label class="form-label">FRC Name<span class="required">*</span></label>
                                <input type="text" name="checklist_name" class="form-control" placeholder="Enter FRC Name" value="<%=(typeof inputData!='undefined')? inputData.checklist_name:''%>" autofocus maxlength="200" required>
                                <p style="color: red;"><%=(typeof errors!='undefined' && typeof errors.checklist_name!='undefined' )? errors.checklist_name.msg:''%></p>
                            </div>
                        </div>
                        <div class="col-xl-2">
                            <div class="mb-3">
                                <label class="form-label">Type<span class="required">*</span></label>
                                <select class="form-select" name="type" id="type" onchange="frcTypeChange(this)" required>
									<option value="" selected disabled hidden>Choose here</option>
                                    <option value="form">Form</option>
                                    <option value="register">Register</option>
                                    <option value="check_list">Checklist</option>
                                </select>
                                <p style="color: red;"><%=(typeof errors!='undefined' && typeof errors.type!='undefined' )? errors.type.msg:''%></p>
                            </div>
                        </div>
                        <div class="col-xl-2">
                            <div class="mb-3">
                                <label class="form-label">Frequency<span class="required">*</span></label>
                                <select class="form-select" id="frequency" name="frequency" onchange="changeFrequency()" required>
                                    <option value="" selected disabled hidden>Choose here</option>
                                    <option value="none">None</option>
                                    <option value="daily">Daily</option>
                                    <option value="weekly">Weekly</option>
                                    <option value="monthly">Monthly</option>
                                    <option value="quarterly">Quarterly</option>
                                    <option value="annually">Annually</option>
                                    <option value="bi_annually">Bi-Annually</option>
                                </select>
                                <p style="color: red;"><%=(typeof errors!='undefined' && typeof errors.frequency!='undefined' )? errors.frequency.msg:''%></p>
                            </div>
                        </div>
						<div class="col-xl-2 checklist_day">
                            <div class="mb-3">
                                <label class="form-label">Day<span class="required">*</span></label>
                                <select class="form-select checklist_day" name="day" required>
                                    <option value="monday" selected>Monday</option>
									<option value="tuesday">Tuesday</option>
									<option value="wednesday">Wednesday</option>
									<option value="thursday">Thursday</option>
									<option value="friday">Friday</option>
									<option value="saturday">Saturday</option>
									<option value="sunday">Sunday</option>
                                </select>
                                <p style="color: red;"><%=(typeof errors!='undefined' && typeof errors.month!='undefined' )? errors.month.msg:''%></p>
                            </div>
                        </div>
                        <div class="col-xl-2 checklist_month">
                            <div class="mb-3">
                                <label class="form-label checklist_month">Month<span class="required">*</span></label>
                                <select class="form-select" name="month">
                                    <% for(m = 0; m < months.length; m++) { %>
                                    	<option value="<%= m+1 %>" <% if(m == 0) { %> selected <% } %>><%=months[m]%></option>
                                    <% } %>
                                </select>
                                <p style="color: red;"><%=(typeof errors!='undefined' && typeof errors.month!='undefined' )? errors.month.msg:''%></p>
                            </div>
                        </div>
                        <div class="col-xl-2 checklist_date">
                            <div class="mb-3">
                                <label class="form-label checklist_date">Date<span class="required">*</span></label>
                                <select class="form-select" name="date" required>
                                    <% for (i = 1; i < 32; i++) { %>
                                    <option value="<%=i%>" <% if(i == 1) { %> selected <% } %>><%=i%></option>
                                    <% } %>
                                </select>
                                <p style="color: red;"><%=(typeof errors!='undefined' && typeof errors.date!='undefined' )? errors.date.msg:''%></p>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:20px;">
                        <div class="col-xl-2"></div>
                        <div class="col-xl-6">
                            <button type="submit" class="btn btn-warning btn-rounded waves-effect waves-light"><b><i class="bx bx-check-double label-icon"></i> Save & Create FRC Form</b></button>
                            <a href="<%= process.env.APP_URL %>/master-frc" class="btn btn-danger btn-rounded waves-effect waves-light"><b>Cancel</b></a>
                        </div>  
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- end row -->
<%- contentFor('FooterJs') %>
<!-- Add Category init -->
<script src="<%=process.env.APP_URL%>/public/assets/js/pages/form-advanced.init.js"></script>

<script>
	$(document).ready(function(){
		$('.checklist_day').hide().prop('required',false);
		$('.checklist_month').hide().prop('required',false);
  		$('.checklist_date').hide().prop('required',false);
	});

    setTimeout(function(){
        changeFrequency();
    },100)

	function changeFrequency() {
		$('.checklist_day').hide().prop('required',false);
		$('.checklist_month').hide().prop('required',false);
  		$('.checklist_date').hide().prop('required',false);

        let optionValue = $("#frequency").val();
        if(optionValue == 'daily'){
		}
		else if(optionValue == 'weekly'){
  			$('.checklist_day').show();
		} else if(optionValue == 'monthly') {
			$('.checklist_date').show();
		}  else if(optionValue == 'quarterly') {
			$('.checklist_month').show();
			$('.checklist_date').show();
		}  else if(optionValue == 'annually') {
			$('.checklist_month').show();
			$('.checklist_date').show();
		}  else if(optionValue == 'bi_annually') {
			$('.checklist_month').show();
			$('.checklist_date').show();
		}
	}

	function frcTypeChange(selectObject) {
		var value = selectObject.value;
		if (value == "check_list") {
			$("#frequency option[value=none]").hide();
		} else {
			$("#frequency option[value=none]").show();
		}
		$('#frequency').prop('selectedIndex',0);
		changeFrequency()
	}
</script>
<%- contentFor('BottomJs') %>