<%- contentFor('HeaderCss') %>
<%- contentFor('breadcrumb') %>
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">Add Check List</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="/categories">Master Category</a></li>
                    <li class="breadcrumb-item">Category Name</li>
                    <li class="breadcrumb-item active">Add Check List</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end page title -->
<%- contentFor('body') %>
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Add Check List</h4>
                <form action="/store-category-checklist" method="POST" class="custom-validation">
					<input type="hidden" name="category_id" value="<%= category_id %>">
                    <div class="row">
                        <div class="col-xl-4">
                            <div class="mb-3">
                                <label class="form-label">Checklist Id<span class="required">*</span></label>
                                <input type="text" name="checklist_id" value="123456789" class="form-control" id="defaultconfig" placeholder="Enter Checklist Id" maxlength="200" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-4">
                            <div class="mb-3">
                                <label class="form-label">Checklist Name<span class="required">*</span></label>
                                <input type="text" name="checklist_name" class="form-control" id="defaultconfig" placeholder="Enter Checklist Name" value="<%=(typeof inputData!='undefined')? inputData.checklist_name:''%>" autofocus maxlength="200">
                                <p style="color: red;"><%=(typeof errors!='undefined' && typeof errors.checklist_name!='undefined' )? errors.checklist_name.msg:''%></p>
                            </div>
                        </div>
                        <div class="col-xl-2">
                            <div class="mb-3">
                                <label class="form-label">Type<span class="required">*</span></label>
                                <select class="form-control" name="type">
                                    <option value="">Select Type</option>
                                    <option value="form">Form</option>
                                    <option value="register">Register</option>
                                    <option value="check_list">Checklist</option>
                                </select>
                                <p style="color: red;"><%=(typeof errors!='undefined' && typeof errors.type!='undefined' )? errors.type.msg:''%></p>
                            </div>
                        </div>
                        <div class="col-xl-2">
                            <div class="mb-3">
                                <label class="form-label">Frequency<span class="required">*</span></label>
                                <select class="form-control" name="frequency">
                                    <option value="">Select Frequency</option>
                                    <option value="weekly">Weekly</option>
                                    <option value="monthly">Monthly</option>
                                    <option value="quarterly">Quarterly</option>
                                    <option value="annually">Annually</option>
                                    <option value="weekly">Bi-Annually</option>
                                </select>
                                <p style="color: red;"><%=(typeof errors!='undefined' && typeof errors.frequency!='undefined' )? errors.frequency.msg:''%></p>
                            </div>
                        </div>
                        <div class="col-xl-2">
                            <div class="mb-3">
                                <label class="form-label">Month<span class="required">*</span></label>
                                <select class="form-control" name="month">
                                    <option value="">Select Month</option>
                                    <% for(m = 0; m < months.length; m++) { %>
                                    <option value="<%= i+1 %> "><%=months[m]%></option>
                                    <% } %>
                                </select>
                                <p style="color: red;"><%=(typeof errors!='undefined' && typeof errors.month!='undefined' )? errors.month.msg:''%></p>
                            </div>
                        </div>
                        <div class="col-xl-2">
                            <div class="mb-3">
                                <label class="form-label">Date<span class="required">*</span></label>
                                <select class="form-control" name="date">
                                    <option value="">Select Date</option>
                                    <% for (i = 1; i < 32; i++) { %>
                                    <option value="<%=i%>"><%=i%></option>
                                    <% } %>
                                </select>
                                <p style="color: red;"><%=(typeof errors!='undefined' && typeof errors.date!='undefined' )? errors.date.msg:''%></p>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:20px;">
                        <div class="col-xl-2"></div>
                        <div class="col-xl-6">
                            <button type="submit" class="btn btn-warning waves-effect waves-light"><b><i class="bx bx-check-double label-icon"></i> Submit</b></button>
                        </div>  
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- end row -->
<%- contentFor('FooterJs') %>
<!-- Add Category init -->
<script src="<%=process.env.PUBLIC_URL%>/public/assets/js/pages/form-advanced.init.js"></script>
<%- contentFor('BottomJs') %>