<%- contentFor('HeaderCss') %>
<%- contentFor('breadcrumb') %>
<style>
    .get-data{
        display:none !important;
    }
    .btn-danger{
        margin-right: 15px;
    }
    .btn-primary{
        color: #fff;
        background-color: #f1b44c;
        border-color: #f1b44c;
    }
    .btn-primary:hover {
    color: #fff;
    background-color: #cd9941;
    border-color: #c1903d;
}
</style>
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18" id="formTitle"><%#= data.type %></h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
					<li class="breadcrumb-item"><a href="<%= process.env.APP_URL %>/">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="<%= process.env.APP_URL %>/categories">Master Category</a></li>
                    <li class="breadcrumb-item"><a href="<%= process.env.APP_URL %>/edit-category-checklist/<%= data.category_id._id %>"><%= data.category_id.category_name %> </a></li>
					<li class="breadcrumb-item active" id="formTitle1"><%#= data.type %></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end page title -->
<%- contentFor('body') %>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title" id="formTitle2"><%#= data.type %></h4>
                <!-- end page title -->
                <div id="build-wrap"></div>
                <!-- end page title -->
            </div>
        </div>
    </div>
</div>
<%- contentFor('FooterJs') %>
<%- contentFor('BottomJs') %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="https://formbuilder.online/assets/js/form-builder.min.js"></script>
<script src="https://formbuilder.online/assets/js/form-render.min.js"></script>
<script>
	//form create
    let fbEditor = document.getElementById('build-wrap')
    let formData = <%- JSON.stringify(data.form) %>;
	let options = {
		disableFields: ['hidden'],
		defaultFields: formData,
    };
	let formBuilder = $(fbEditor).formBuilder(options)

	// jQuery($ => {
	// 	// const fbEditor = document.getElementById("build-wrap");
	// 	// const formBuilder = $(fbEditor).formBuilder();

	// 	document
	// 		.getElementsByClassName("saveData")
	// 		.addEventListener("click", () => formBuilder.actions.save());
	// });


	// var saveBtn = document.querySelector('.saveData');
	// console.log('saveBtn=> ', saveBtn);
	// saveBtn.onclick = function() {
	// 	console.log('Form Saved');
	// 	// window.sessionStorage.setItem('formData', $fbEditor.data('formBuilder').formData);
	// };

    setTimeout(function(){
		document.getElementsByClassName("save-template")[0].addEventListener("click", function() {
			if(formBuilder.actions.getData().length > 0){
				// console.log(formBuilder.actions.getData());
				console.log('<%= data._id %>');

				$.post("/update-form-create", {
					checklistId: '<%= data._id %>',
					forms: formBuilder.actions.getData()
				}, function(data, status){
					toastr.success(data.message);
					window.location.href = "<%=process.env.APP_URL%>/master-frc";
					// window.location.href = history.back(-1);
				});
				
			}else{
				
			}
		});
    },1500)

	if(formData.length > 0){
        $("#formTitle").html("Edit Form");
        $("#formTitle1").html("Edit Form");
        $("#formTitle2").html("Edit Form");
    }else{
        $("#formTitle").html("Add Form");
        $("#formTitle1").html("Add Form");
        $("#formTitle2").html("Add Form");
    }
</script>