<%- contentFor('HeaderCss') %>
<%- contentFor('breadcrumb') %>
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">Edit FRC</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="<%= process.env.APP_URL %>/">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="<%= process.env.APP_URL %>/categories">Master Category</a></li>
                    <li class="breadcrumb-item"><a href="<%= process.env.APP_URL %>/edit-category-checklist/<%= data.category_id %>">Category Name</a></li>
                    <li class="breadcrumb-item active">Edit FRC</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end page title -->
<%- contentFor('body') %>
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Edit FRC</h4>
                <form action="<%= process.env.APP_URL %>/update-checklist-details" method="POST">
					<input type="hidden" name="_id" value="<%= data._id %>">
                    <div class="row">
                        <div class="col-xl-4">
                            <div class="mb-3">
                                <label class="form-label">FRC Id<span class="required">*</span></label>
                                <input type="text" name="checklist_id" value="<%= data.checklist_id %>" class="form-control" placeholder="Enter FRC Id" maxlength="200" style="text-transform:uppercase" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-4">
                            <div class="mb-3">
                                <label class="form-label">FRC Name<span class="required">*</span></label>
                                <input type="text" name="checklist_name" value="<%= data.checklist_name %>" class="form-control" placeholder="Enter FRC Name" autofocus maxlength="200">
                            </div>
                        </div>
                        <div class="col-xl-2">
                            <div class="mb-3">
                                <label class="form-label">Type<span class="required">*</span></label>
                                <select class="form-control" name="type" required disabled>
                                    <option value="">Select Type</option>
                                    <option value="form" <% if (data.type == 'form') { %> selected <% } %> >Form</option>
                                    <option value="register" <% if (data.type == 'register') { %> selected <% } %> >Register</option>
                                    <option value="check_list" <% if (data.type == 'check_list') { %> selected <% } %> >Checklist</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-2">
                            <div class="mb-3">
                                <label class="form-label">Frequency<span class="required">*</span></label>
                                <select class="form-control" name="frequency" onchange="changeFrequency(this)" required>
                                    <option value="" disabled hidden>Choose here</option>
                                    <option value="none">None</option>
                                    <% for (j = 0; j < frequencyArr.length; j++) { %>
                                        <option value="<%=frequencyArr[j]%>" <% if (frequencyArr[j] == data.frequency) { %> selected <% } %>> <%=frequencyArr[j]%> </option>
                                    <% } %>
                                </select>
                            </div>
                        </div>
						<div class="col-xl-2 checklist_day">
                            <div class="mb-3">
                                <label class="form-label">Day<span class="required">*</span></label>
                                <select class="form-select checklist_day" name="day" required>
                                    <option value="" selected hidden disabled>Select Day</option>
									<% for (j = 0; j < daysArr.length; j++) { %>
                                        <option value="<%=daysArr[j]%>" <%= data.day == daysArr[j] ? 'selected' : '' %>> <%=daysArr[j]%> </option>
                                    <% } %>
                                </select>
                                <p style="color: red;"><%=(typeof errors!='undefined' && typeof errors.day!='undefined' )? errors.day.msg:''%></p>
                            </div>
                        </div>
                        <div class="col-xl-2 checklist_month">
                            <div class="mb-3">
                                <label class="form-label">Month<span class="required">*</span></label>
                                <select class="form-control checklist_month" name="month" required>
                                    <option value="" selected hidden disabled>Select Month</option>
                                    <% for(m = 0; m < months.length; m++) { %>
                                    	<option value="<%= m+1 %>" <%= data.month == m ? 'selected' : '' %>> <%= months[m] %> </option>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-2 checklist_date">
                            <div class="mb-3">
                                <label class="form-label">Date<span class="required">*</span></label>
                                <select class="form-control checklist_date" name="date" required>
                                    <option value="" selected hidden disabled>Select Date</option>
                                    <% for (i = 1; i < 32; i++) { %>
                                    	<option value="<%=i%>" <%= data.date == i ? 'selected' : '' %>> <%= i %> </option>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:20px;">
                        <div class="col-xl-2"></div>
                        <div class="col-xl-6">
                            <button type="submit" class="btn btn-warning btn-rounded waves-effect waves-light"><b><i class="bx bx-check-double label-icon"></i> Edit</b></button>
                            <a href="<%= process.env.APP_URL %>/create-checklist-multi-form/<%= data._id %>" class="btn btn-outline-warning btn-rounded">Modify FRC</a>
                            <a href="<%= process.env.APP_URL %>/view-checklist-multi-form/<%= data._id %>" class="btn btn-outline-warning btn-rounded">View FRC</a>
                        </div>  
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- end row -->
<%- contentFor('FooterJs') %>
<!-- Add Category init -->
<script src="<%=process.env.APP_URL%>/public/assets/js/pages/form-advanced.init.js"></script>

<script>
	$(document).ready(function(){
		$('.checklist_day').hide().prop('required',false);
		$('.checklist_month').hide().prop('required',false);
  		$('.checklist_date').hide().prop('required',false);

		let frequency = '<%= data.frequency %>';
		if(frequency == 'Weekly'){
  			$('.checklist_day').show();
		} else if(frequency == 'Fortnightly' || frequency == 'Monthly') {
			$('.checklist_date').show();
		}  else if(frequency == 'Quarterly') {
			$('.checklist_month').show();
			$('.checklist_date').show();
		}  else if(frequency == 'Annually') {
			$('.checklist_month').show();
			$('.checklist_date').show();
		}  else if(frequency == 'Bi-annually') {
			$('.checklist_month').show();
			$('.checklist_date').show();
		}
	});

	function changeFrequency(event) {
		$('.checklist_day').hide().prop('required',false);
		$('.checklist_month').hide().prop('required',false);
		$('.checklist_date').hide().prop('required',false);

		let frequency = $(event).val();
		if(frequency == 'Weekly'){
			$('.checklist_day').show();
		} else if(frequency == 'Monthly') {
			$('.checklist_date').show();
		}  else if(frequency == 'Quarterly') {
			$('.checklist_month').show();
			$('.checklist_date').show();
		}  else if(frequency == 'Annually') {
			$('.checklist_month').show();
			$('.checklist_date').show();
		}  else if(frequency == 'Bi-Annually') {
			$('.checklist_month').show();
			$('.checklist_date').show();
		}
	}
</script>
<%- contentFor('BottomJs') %>