<%- contentFor('HeaderCss') %>
<!-- DataTables -->
<link href="<%=process.env.PUBLIC_URL%>/public/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="<%=process.env.PUBLIC_URL%>/public/assets/libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<!-- Responsive datatable examples -->
<link href="<%=process.env.PUBLIC_URL%>/public/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<%- contentFor('breadcrumb') %>
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">Master FRC</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="#">Master FRC</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end page title -->
<%- contentFor('body') %>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                    <form method="GET" action="/master-frc" id="form">
                        <div class="row mb-2">
                            <!-- start searching -->
                            <div class="col-sm-3">
                                <div class="position-relative">
                                    <select name="search" class="form-control" required>
                                        <option value="">Select Category</option>
                                        <% for (i = 0; i < categoryData.length; i++) { %>
                                            <option value="<%= categoryData[i]._id %>" <% if(categoryData[i]._id == paramsCategoryId) {%> selected <% } %>><%= categoryData[i].category_name %></option>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3" style="padding: 0px;">
                                <button type="submit" class="btn btn-warning btn-rounded waves-effect waves-light"><i class="bx bx-search-alt search-icon"></i> Search</button>
                                <a href="/master-frc" class="btn btn-warning btn-rounded waves-effect waves-light"><i class="bx bx-refresh"></i> Refresh</a>
                            </div>
                            <!-- end searching -->
                            <div class="col-sm-6">
                                <div class="text-sm-end">
                                    <a href="/create-category-checklist">
                                        <button type="button" class="btn btn-warning btn-rounded waves-effect waves-light" style="float: right;">
                                            <b><i class="fa fa-plus"></i> ADD FRC </b>
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </h4>
                <br>
                <table id="datatable" class="table table-bordered dt-responsive nowrap w-100">
                    <thead>
                    <tr>
                        <th style="text-align: center;">#</th>
                        <th style="text-align: center;">FRC ID</th>
                        <th>Category Name</th>
                        <th>FRC Name</th>
                        <th style="text-align: center;">Type</th>
                        <th style="text-align: center;">Frequency</th>
                        <th style="text-align: center;">Status</th>
                        <th style="width: 10%;text-align: center;">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                            <% if(data.length ==0) { %>
                                <tr><td colspan="9" class="text-center">No data found</td></tr>
                            <% } %>
                    <% for (i = 0; i < data.length; i++) { %>
                    <tr>
                        <td style="width: 5%;text-align: center;"><%=i+1%></td>
                        <td style="width: 5%;text-align: center;"><%= data[i].checklist_id %></td>
                        <td><%= data[i].category_name %>  </td>
                        <td><%= data[i].checklist_name %>  </td>
                        <td style="text-align: center;">
                            <% if(data[i].type == 'register') { %>
                                <span>Register</span>
                            <% } %>
                            <% if(data[i].type == 'check_list') { %>
                                <span>Check List</span>
                            <% } %>
                            <% if(data[i].type == 'form') { %>
                                <span>Form</span>
                            <% } %>
                        </td>
						<td style="width: 5%;text-align: center;"><%= data[i].frequency %></td>
                        <td style="width: 10%;text-align: center;">
							<input type="checkbox" id="switch<%=i+1%>" switch="warning" class="status" value="<%= data[i]._id %>" <%= data[i].status == 1 ? 'checked' : '' %> />
                            <label for="switch<%=i+1%>" data-on-label="Yes" data-off-label="No"></label></td>
                        <td style="width: 10%;text-align: center;">
                            <a href="/edit-checklist-details/<%= data[i]._id %>"> <button class="btn btn-outline-warning"><b>Edit</b></button></a>
                        </td>
                    </tr>
                    <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div> <!-- end col -->
</div>
<!-- end row -->
<%- contentFor('FooterJs') %>
<!-- Required datatable js -->
<script src="<%=process.env.PUBLIC_URL%>/public/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="<%=process.env.PUBLIC_URL%>/public/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
<!-- Buttons examples -->
<script src="<%=process.env.PUBLIC_URL%>/public/assets/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
<script src="<%=process.env.PUBLIC_URL%>/public/assets/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>

<!-- Responsive examples -->
<script src="<%=process.env.PUBLIC_URL%>/public/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
<script src="<%=process.env.PUBLIC_URL%>/public/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
<!-- Datatable init js -->
<script src="<%=process.env.PUBLIC_URL%>/public/assets/js/pages/datatables.init.js"></script>

<script>   
// Any change event occuring on any input.staus (checkbox)...
$('.status').on('change', function(e) {
    // A boolean that reflects the checkbox "check status"
    let checked = $(this).is(':checked');
    // A simple confirm...
    let changed = confirm("Are you sure you want to change this status?");
    //... if user cancels...
    if (!changed) {
        /* ...ternary: [?][if checkbox is checked] - [uncheck it] [:][otherwise] - [check it]
        [return][Terminate function - don't do anything else] */
        return checked ? $(this).prop('checked', false) : $(this).prop('checked', true);
    }else{
        $.post("<%=process.env.PUBLIC_URL%>/change-checklist-status", {
            _id: $(this).val()
            }, function(data, status){
            toastr.success(data.message);
        });
    }
});
</script>
<% if(error.length> 0) { %>
    <script>
        toastr.error('<%= error %>');
    </script>
<% } %>
<% if(message.length> 0) { %>
    <script>
        toastr.success('<%= message %>');
    </script>
<% } %>
<%- contentFor('BottomJs') %>