<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">
    <div data-simplebar class="h-100">
        <!--- SideMenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li>
                    <a href="<%=APP_URL%>/" class="waves-effect">
                        <i class="bx bx-home-circle"></i>
                        <span key="t-Dashboard">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="<%=APP_URL%>/properties" class="waves-effect"><i class="bx bx-briefcase-alt-2"></i><span key="t-file-manager">
                        <% if(session) { %>
                            <% if(session.user.position_id == 1) { %> Master Property
                        <% } else  {%> Manage Property
                        <% } } %> </span>
                    </a>
                </li>
                <% if(session) { %>
                    <% if(session.user.position_id == 1) { %>
                <li>
                    <a href="<%=APP_URL%>/categories" class="waves-effect"><i class="bx bx-detail"></i><span key="t-layouts">Master Category</span></a>
                </li>
                <% } } %>
                <% if(session) { %>
                    <% if(session.user.position_id == 2) { %>
                <li>
                    <a href="<%=APP_URL%>/categories" class="waves-effect"><i class="bx bx-detail"></i><span key="t-layouts">Manage Category</span></a>
                </li>
                <% } } %>

                <li>
                    <a href="<%=APP_URL%>/users" class="waves-effect"><i class="bx bx-user-circle"></i><span key="t-layouts">
                        <% if(session) { %>
                            <% if(session.user.position_id == 1) { %> Master User
                        <% } else  {%> Manage User
                        <% } } %> </span>
                    </a>
                </li>
                <li>
                    <a href="<%=APP_URL%>/master-frc" class="waves-effect"><i class="bx bx-layout"></i><span key="t-layouts">Master FRC</span></a>
                </li>

                <li>
                    <a href="<%=APP_URL%>/category-assignment" class="waves-effect"><i class="bx bx-task"></i><span key="t-layouts">Assignment</span></a>
                </li>
                <% if(session) { %>
                <% if(session.user.position_id == 1) { %>
                <li>
                    <a href="<%=APP_URL%>/manage-rating" class="waves-effect"><i class="bx bx-layout"></i><span key="t-layouts">Manage Rating</span></a>
                </li>
                <% } } %>
                <li>
                    <a href="<%=APP_URL%>/ppm" class="waves-effect"><i class="bx bx-receipt"></i><span key="t-layouts">PPM</span></a>
                </li>

                <li>
                    <a href="<%=APP_URL%>/sop" class="waves-effect"><i class="bx bxs-eraser"></i><span key="t-layouts">SOP</span></a>
                </li>

                <li>
                    <a href="<%=APP_URL%>/history" class="waves-effect"><i class="bx bx-aperture"></i><span key="t-layouts">History</span></a>
                </li>

				<li>
                    <a href="<%=APP_URL%>/report" class="waves-effect"><i class="bx bx-aperture"></i><span key="t-layouts">Report</span></a>
                </li>

                <% if(session) { %>
                <% if(session.user.position_id == 1) { %>
                <li>
                    <a href="<%=APP_URL%>/setting" class="waves-effect"><i class="bx bx-tone"></i><span key="t-layouts">Setting</span></a>
                </li>
                <% } } %>
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->