<%- contentFor('HeaderCss') %>
<style type="text/css">
.image_container {
    height: 120px;
    width: 200px;
    border-radius: 6px;
    overflow: hidden;
    margin: 10px;
}
.image_container img {
    height: 100%;
    width: 100%;
    /* object-fit: cover; */
}
.image_container span {
    top: -6px;
    right: 8px;
    color: red;
    font-size: 28px;
    font-weight: normal;
    cursor: pointer;
}
</style>
<%- contentFor('breadcrumb') %>
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">Add Property & Wing</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/properties">Properties</a></li>
                    <li class="breadcrumb-item active">Add Property & Wing</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end page title -->
<%- contentFor('body') %>
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Add Property</h4>
                <form action="/admin/api/property-add" method="POST" enctype="multipart/form-data" class="custom-validation">
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="mb-3">
                                <label class="form-label">Property Name<span class="required">*</span></label>
                                <input type="text" name="property_name" class="form-control" id="defaultconfig" placeholder="Enter Property Name" autofocus maxlength="200" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Address<span class="required">*</span></label>
                                <textarea id="textarea" name="address" class="form-control" maxlength="225" rows="3" placeholder="This textarea has a limit of 225 chars." required></textarea>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Select Location<span class="required">*</span></label>
                                <input type="text" name="location" class="form-control" id="address" placeholder="Enter Location" maxlength="50" required>
                                <input type="hidden" name="latitude" id="lat" value="" required>
                                <input type="hidden" name="longitude" id="lng" value="" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Upload Img<span class="required">*</span></label>
                                <input type="file" name="property_images" id="image" multiple="" class="form-control" onchange="image_select()" required>
                            </div>
                            <div>Slider Image Preview : </div>
                            <div class="card-body d-flex flex-wrap justify-content-start" id="container">
                                    <!-- Image will be show here-->    	  
                            </div>

                            <!-- BEGIN OTHER INFORMATION FORM  -->
                            <h4 class="card-title">Other Information</h4>
                            <div class="mb-3">
                                <label class="form-label">Name of Owner<span class="required">*</span><span class="required">*</span></label>
                                <input type="text" name="name_of_owner" class="form-control" id="defaultconfig" placeholder="Enter Name of Owner" autofocus maxlength="200" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Area Name<span class="required">*</span></label>
                                <textarea id="textarea" name="area_name" class="form-control" maxlength="225" rows="3" placeholder="This textarea has a limit of 225 chars." required></textarea>
                            </div>
                            <div class="mb-3">
                                <label class="form-label">Squere Feet<span class="required">*</span></label>
                                <input type="text" name="square_feet" class="form-control" id="default" placeholder="Enter Squere Feet" maxlength="100" required>
                            </div>
                            <!-- END OTHER INFORMATION FORM  -->
                        </div>

                        <div class="col-xl-6">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Add | Remove Wing <a href="javascript:void(0);" class="add_button btn btn-warning" style="float: right;" title="Add field">Add New Wings</a></h4>
                                    <label>Wing Name<span class="required">*</span> :</label>
                                    <div class="mb-3 row">
                                        <div class="col-md-11 col-8">
                                            <div class="input_field_wrapper">
                                                <input type="text" class="form-control" name="wings" value="" placeholder="Enter Wing Name" style="margin-bottom: 15px;" required/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom:20px;">
                        <div class="col-xl-2"></div>
                        <div class="col-xl-6">
                            <button type="submit" class="btn btn-warning waves-effect waves-light"><i class="bx bx-check-double label-icon"></i> Save</button>
                            <a href="/properties"><button type="button" class="btn btn-danger waves-effect waves-light"><i class="bx bx-block label-icon"></i> Cancel</button></a>
                        </div>  
                    </div>
                    <p> <span class="required">*</span> Represent that it's compulsory fields </p>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- end row -->
<%- contentFor('FooterJs') %>
<script src="<%=process.env.PUBLIC_URL%>/public/assets/libs/select2/js/select2.min.js"></script>
<script src="<%=process.env.PUBLIC_URL%>/public/assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="<%=process.env.PUBLIC_URL%>/public/assets/libs/spectrum-colorpicker2/spectrum.min.js"></script>
<script src="<%=process.env.PUBLIC_URL%>/public/assets/libs/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
<script src="<%=process.env.PUBLIC_URL%>/public/assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
<script src="<%=process.env.PUBLIC_URL%>/public/assets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
<script src="<%=process.env.PUBLIC_URL%>/public/assets/libs/parsleyjs/parsley.min.js"></script>
<script src="<%=process.env.PUBLIC_URL%>/public/assets/js/pages/form-validation.init.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=&libraries=places"></script>
<script>
    $(document).ready(function(){
        var input = document.getElementById('address');
        var autocomplete = new google.maps.places.Autocomplete(input, {});
        autocomplete.addListener('place_changed', function () {
            var place = autocomplete.getPlace();
            //document.getElementById('address').value = place.geometry.location;
            document.getElementById('lat').value=place.geometry.location.lat();
            document.getElementById('lng').value=place.geometry.location.lng();

        });
    });
</script>
<script type="text/javascript">
    $(document).ready(function(){
        var maxFieldLimit = 30; //Input fields increment limitation
        var add_more_button = $('.add_button'); //Add button selector
        var Fieldwrapper = $('.input_field_wrapper'); //Input field wrapper
        var fieldHTML = '<div style="display:flex;margin-bottom:10px;"><input type="text" name="wings" class="form-control" value="" placeholder="Enter Wing Name"/><a href="javascript:void(0);" class="remove_button btn btn-danger" style="margin-left:10px;">-</a></div>'; //New input field html 
        var x = 1; //Initial field counter is 1
        $(add_more_button).click(function(){ //Once add button is clicked
            if(x < maxFieldLimit){ //Check maximum number of input fields
                x++; //Increment field counter
                $(Fieldwrapper).append(fieldHTML); // Add field html
            }
        });
        $(Fieldwrapper).on('click', '.remove_button', function(e){ //Once remove button is clicked
            e.preventDefault();
            $(this).parent('div').remove(); //Remove field html
            x--; //Decrement field counter
        });
    });
</script>
<script>
    // this variable will store images for preview
    var images = [];
   
   // this function will select images
   function image_select() {
        var image = document.getElementById('image').files;
        for (i = 0; i < image.length; i++) {
            if (check_duplicate(image[i].name)) {
            images.push({
                "name" : image[i].name,
                "url" : URL.createObjectURL(image[i]),
                "file" : image[i],
            })
            } else 
            {
                alert(image[i].name + " is already added to the list");
            }
        }
        document.getElementById('container').innerHTML = image_show();
    }
   
   // this function will show images in the DOM
   function image_show() {
        var image = "";
        images.forEach((i) => {
            image += `<div class="image_container d-flex justify-content-center position-relative">
                <img src="`+ i.url +`" alt="Image">
                <span class="position-absolute" onclick="delete_image(`+ images.indexOf(i) +`)">&times;</span>
            </div>`;
        })
        return image;
    }
   
   // this function will get all images from the array
    function get_image_data() {
        var form = new FormData()
        for (let index = 0; index < images.length; index++) {
            form.append("file[" + index + "]", images[index]['file']);
        }
        return form;
    }
   
   // this function will delete a specific image from the container
   function delete_image(e) {
        images.splice(e, 1);
        document.getElementById('container').innerHTML = image_show();
   	}
   
   // this function will check duplicate images
   function check_duplicate(name) {
    var image = true;
    if (images.length > 0) {
        for (e = 0; e < images.length; e++) {
            if (images[e].name == name) {
                image = false;
                break;
            }
        }
    }
    return image;
    }
</script>
<%- contentFor('BottomJs') %>