<%- contentFor('HeaderCss') %>
<%- contentFor('breadcrumb') %>
<style>
    .text-center{text-align: center;}
</style>
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">View Rating</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="<%= process.env.APP_URL %>/">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="<%= process.env.APP_URL %>/manage-rating">Manage Rating</a></li>
                    <li class="breadcrumb-item active">View Rating</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end page title -->

<%- contentFor('body') %>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
				<div class="row mb-2">
                    <div class="col-sm-8">
                        <div class="mb-2 row">
                            <label for="example-text-input" class="col-md-4 col-form-label text-sm-end">Select Group Name :-</label>
                            <div class="col-md-5">
                                <select class="form-select" onchange="changeGroupId(this)" name="groupId" id="groupId" >
                                    <option value="">Select Group Name</option>
                                    <% for (i = 0; i < assignPropertyGroupData.groupIds.length; i++) { %>
                                        <option value="<%= assignPropertyGroupData.groupIds[i]._id %>" <%= data.groupId == String(assignPropertyGroupData.groupIds[i]._id) ? 'selected' : '' %>><%= assignPropertyGroupData.groupIds[i].groupName %></option>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="table-responsive">
                    <table class="table align-middle table-nowrap table-check">
                        <thead class="table-light">
                            <tr>
                                <th class="text-center">#</th>
                                <th class="text-center">Group name</th>
                                <th class="text-center">Topic name</th>
                                <th class="text-center">Total Weightage</th>
                                <th class="text-center">Total Point</th>
                                <th class="text-center">Auditor Name</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
							<% for( let i = 0; i < MngRatingTopicAssignData.length; i++ ) { %>
								<% for( let j = 0; j < MngRatingTopicAssignData[i]?.topicIds?.length; j++ ) { %>
									<tr>
										<td class="text-center" style="width: 7%;"><%= j+1 %></td>
										<td class="text-center"><%= MngRatingTopicAssignData[i].groupId.groupName %></td>
										<td class="text-center"><%= MngRatingTopicAssignData[i].topicIds[j].topicName %></td>
										<td class="text-center"><%= MngRatingTopicAssignData[i].topicIds[j].weightage %></td>
										<td class="text-center"><%= MngRatingTopicAssignData[i].topicIds[j].point %></td>
										<td class="text-center"><%= assignPropertyGroupData.auditorId.full_name %> </td>
										<td class="text-center" style="width: 7%;">
											<a href="<%= process.env.APP_URL %>/view-assign-task-checklist?propertyId=<%= data.propertyId %>&&groupId=<%= MngRatingTopicAssignData[i].groupId._id %>&&topicId=<%= MngRatingTopicAssignData[i].topicIds[j]._id %>" class="btn btn-outline-secondary"><b>View</b></a>
										</td>
									</tr>
								<% } %>
							<% } %>
                        </tbody>
                    </table>
                </div>
				<!-- pagination -->
            </div>
        </div>
    </div>
</div>
<!-- end row -->
<%- contentFor('FooterJs') %>
<% if(error.length> 0) { %>
    <script>
        toastr.error('<%#= error %>');
    </script>
<% } %>
<% if(message.length> 0) { %>
    <script>
        toastr.success('<%#= message %>');
    </script>
<% } %>

<script>
    function pagination(i){
        $("#page").val(i);
        $("#form").submit();
    }

	function changeGroupId(selectObject) {
		var value = selectObject.value; 
		window.location.href = "<%=process.env.APP_URL%>/view-group-assign-task?propertyId=<%= data.propertyId %>&&groupId="+value+"";

		// $.ajax({
        //     type: "GET",
        //     url: "<%#=process.env.APP_URL%>/view-group-assign-task?propertyId=<%#= data.propertyId %>&&groupId="+value+"",
        //     // data: {
        //     //     'search_text' : $(this).val(),
        //     //     'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
        //     // },
        //     success: function(result) { 
		// 		alert('Successfully called'); 
		// 	},
        //     error: function(exception) { 
		// 		alert('Exception:'+ exception); 
		// 	}
        // });
	}
</script>
<%- contentFor('BottomJs') %>