<%- contentFor('HeaderCss') %>
<%- contentFor('breadcrumb') %>
<style>
    .text-center{text-align: center;}
</style>
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">View checklist</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="<%=APP_URL%>/">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="<%=APP_URL%>/manage-rating">Manage Rating</a></li>
                    <li class="breadcrumb-item active">View checklist</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end page title -->

<%- contentFor('body') %>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table align-middle table-nowrap table-check">
                        <thead class="table-light">
                            <tr>
                                <th class="text-center">#</th>
                                <th class="text-center">Checklist Name</th>
                                <th class="text-center">Cue List</th>
                                <th class="text-center">Weightage</th>
                                <th class="text-center">Point</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
							<% for( let i = 0; i < MngRatingChecklistAssignData?.checklistIds?.length; i++ ) { %>
								<tr>
									<td class="text-center" style="width: 7%;"><%= i+1 %></td>
									<td class="text-center" style="width: 7%;"><%= MngRatingChecklistAssignData.checklistIds[i].checklistTitle %></td>
									<td class="text-center" style="width: 7%;"><%= MngRatingChecklistAssignData.checklistIds[i].cueForAuditor %></td>
									<td class="text-center" style="width: 7%;"><%= MngRatingChecklistAssignData.checklistIds[i].weightage %></td>
									<td class="text-center" style="width: 7%;"><%= MngRatingChecklistAssignData.checklistIds[i].point %></td>
									<td class="text-center" style="width: 7%;">
										<!-- <a href="<%#=APP_URL%>/view-assign-rating-task-checklist?propertyId=<%#= MngRatingChecklistAssignData.checklistIds[i].propertyId._id %>" class="btn btn-outline-secondary"><b>View</b></a> -->
										<a href="javascript: void(0);" >
											<button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" onclick="detailTask('<%= i %>')" data-bs-target=".checklistDetails<%= i %>"><b>View</b></button>
										</a>
									</td>
								</tr>

								<!-- Start Checklist Modal -->
								<div class="modal fade checklistDetails<%= i %>" tabindex="-1" role="dialog" aria-labelledby="checklistDetailsModalLabel" aria-hidden="true">
									<div class="modal-dialog modal-dialog-centered" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h5 class="modal-title" id="checklistDetailsModalLabel">More Details</h5>
												<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
											</div>
											<div class="modal-body">
												<div class="row">
													<div class="col-md-3 text-end">
														<label>Remark:-</label>
													</div>
													<div class="col-md-9">
														<%= MngRatingChecklistAssignData.checklistIds[i].MngRatingAssignChecklistPointData?.remark %>
													</div>
												</div>
												<div class="row">
													<div class="col-md-3 text-end">
														<label>Images:-</label>
													</div>
													<div class="col-md-9">
														<%= MngRatingChecklistAssignData.checklistIds[i].MngRatingAssignChecklistPointData?.attachPhotos %>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- end modal -->
							<% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end row -->
<%- contentFor('FooterJs') %>
<%- contentFor('BottomJs') %>