<%- contentFor('HeaderCss') %>
<%- contentFor('breadcrumb') %>
<style>
    .text-center{text-align: center;}
</style>
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">List & Edit Topic</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="<%=APP_URL%>/">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="<%=APP_URL%>/manage-rating">Manage Rating</a></li>
                    <li class="breadcrumb-item"><a href="<%=APP_URL%>/group-list">Group List</a></li>
                    <li class="breadcrumb-item"><a href="<%=APP_URL%>/edit-group-name">Edit Group</a></li>
                    <li class="breadcrumb-item active">Edit Topic</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end page title -->
<%- contentFor('body') %>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form action="<%=APP_URL%>/update-topic-name" method="POST" class="custom-validation">
                    <input type="hidden" name="topic_id" value="<%= topicDetails._id %>" required>
                    <div class="row mb-2">
                        <div class="col-sm-8">
                            <div class="mb-3 row">
                                <label for="example-text-input" class="col-md-2 col-form-label">Topic Name:-</label>
                                <div class="col-md-3">
                                    <input class="form-control" name="topic_name" type="text" id="example-text-input" placeholder="Enter topic name" value="<%= topicDetails.topicName %>">
                                </div>
                                <div class="col-md-3">
                                    <button type="submit" class="btn btn-warning btn-rounded waves-effect waves-light mb-2 me-2"><b>Update</b></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="text-sm-end">
                                <a href="<%=APP_URL%>/group-list" class="btn btn-warning waves-effect waves-light mb-2 me-2">Back</a>
                            </div>
                        </div>
                    </div>
                </form>
                <form method="GET" action="<%=APP_URL%>/edit-topic/<%= topicDetails._id %>" id="form">
                    <div class="row mb-2">
                        <!-- start searching -->
                        <div class="col-sm-3">
                            <div class="search-box">
                                <div class="position-relative">
                                    <input type="text" name="search" value="<%= search %>" class="form-control" placeholder="Search..."><i class="bx bx-search-alt search-icon"></i>
                                    <input type="hidden" name="page" id="page" value="<%= page %>">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3" style="padding: 0px;">
                            <button type="button" onclick="pagination(1)" class="btn btn-warning btn-rounded waves-effect waves-light"><i class="bx bx-search-alt search-icon"></i> Search</button>
                        </div>
                        <!-- end searching -->
                        <div class="col-sm-6">
                            <div class="text-sm-end">
                                    <button type="button" onclick="detailTask(-1)" class="btn btn-warning btn-rounded waves-effect waves-light mb-2 me-2" data-bs-toggle="modal" data-bs-target=".addchecklist"><b><i class="mdi mdi-plus me-1"></i> ADD CHECKLIST</b> </button>
                            </div>
                        </div>
                    </div>
                </form>
               
                <div class="table-responsive">
                    <table class="table align-middle table-nowrap table-check">
                        <thead class="table-light">
                            <tr>
                                <th class="text-center">#</th>
                                <th>Check List</th>
                                <th>Cue List</th>
                                <th class="text-center">Weightage</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if(data.length ==0) { %>
                                <tr><td colspan="4" class="text-center">No data found</td></tr>
                            <% } %>
                            <% for (i = 0; i < data.length; i++) { %>
                            <tr>
                                <td class="text-center" style="width: 7%;"><%= (10*(page-1))+ 1 + i %></td>
                                <td><%= data[i].checklistTitle %></td>
                                <td><%= data[i].cueForAuditor %></td>
                                <td class="text-center" style="width: 7%;"><%= data[i].weightage %></td>
                                <td class="text-center" style="width: 7%;">
                                    <input type="checkbox" id="switch<%= i %>" class="status" value="<%= data[i]._id %>" switch="warning" <% if(data[i].status == 1){ %> checked <% } %>>
                                    <label for="switch<%= i %>" data-on-label="Yes" data-off-label="No"></label>
                                </td>
                                <td class="text-center" style="width: 7%;">
                                    <button type="button" class="btn btn-outline-warning" onclick="detailTask('<%= i %>')" data-bs-toggle="modal" data-bs-target=".addchecklist"><b>Edit</b></button>
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
                <!-- start pagination -->
                <ul class="pagination pagination-rounded justify-content-end mb-2">
                    <% if(page > 1){ %>
                        <li class="page-item">
                            <a class="page-link" href="#" onclick="pagination(<%=(Number(page)-1)%>)" aria-label="Previous">
                                <i class="mdi mdi-chevron-left"></i>
                            </a>
                        </li>
                    <% } %>
                    <% for (i = 1; i <= totalPage; i++) { %>
                        <li class="page-item  <% if(page == i){ %> active <% } %>"><a class="page-link"  href="#" onclick="pagination(<%=i%>)"><%=i%></a></li>
                    <% } %>
                    <% if(page < totalPage){ %>
                    <li class="page-item">
                        <a class="page-link"  href="#" onclick="pagination(<%=(Number(page)+1)%>)" aria-label="Next">
                            <i class="mdi mdi-chevron-right"></i>
                        </a>
                    </li>
                    <% } %>
                </ul>
                <!-- end pagination -->
            </div>
        </div>
    </div>
</div>
<!-- end row -->
<!-- add Checklist Modal -->
<div class="modal fade addchecklist" tabindex="-1" role="dialog" aria-labelledby="orderdetailsModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="orderdetailsModalLabel">Add Checklist</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="<%=APP_URL%>/add-topic-checklist" method="POST" enctype="multipart/form-data" class="custom-validation">
                <input type="hidden" name="ratingGroupId" value="<%= topicDetails.ratingGroupId._id %>">
                <input type="hidden" name="ratingTopicId" value="<%= topicDetails._id %>">
                <input type="hidden" name="checklistId" id="checklistId">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="example-text-input" class="col-md-6 col-form-label">Group Name:-</label>
                            <label for="example-text-input" class="col-md-3 col-form-label"><%= topicDetails.ratingGroupId.groupName %></label>
                        </div>
                        <div class="col-md-6">
                            <label for="example-text-input" class="col-md-6 col-form-label">Topic Name:-</label>
                            <label for="example-text-input" class="col-md-3 col-form-label"><%= topicDetails.topicName %></label>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="mb-3 row">
                                <label for="example-text-input" class="col-md-4 col-form-label">Check List :-</label>
                                <div class="col-md-8">
                                    <input class="form-control" type="text" name="checklistTitle" id="checklistTitle" placeholder="Enter Checklist" required>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="example-text-input" class="col-md-4 col-form-label">Cue For Auditor:-
                                </label>
                                <div class="col-md-8">
                                    <input class="form-control" type="text" name="cueForAuditor" id="cueForAuditor" placeholder="Enter Cue For Auditor" required>
                                </div>
                            </div>
                            <div class="mb-3 row">
                                <label for="example-text-input" class="col-md-4 col-form-label">Weightage :-</label>
                                <div class="col-md-8">
                                    <input class="form-control" type="text" name="weightage" id="weightage" placeholder="Enter Weightage">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-warning btn-rounded waves-effect waves-light">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- end modal -->
<%- contentFor('FooterJs') %>
<script>
function pagination(i){
    $("#page").val(i);
    $("#form").submit();
}
</script>
<script>
let taskData = <%- JSON.stringify(data) %>;
function detailTask(taskIndex){
    if(taskIndex == -1){
            detail = {
            }
            $("#orderDetailsModalLabel").html("Add Checklist");
        }else{
            detail = taskData[taskIndex];
            console.log(detail);
            $("#orderDetailsModalLabel").html("Edit Checklist");
            $("#checklistId").val(detail._id);
            $("#checklistTitle").val(detail.checklistTitle);
            $("#cueForAuditor").val(detail.cueForAuditor);
            $("#weightage").val(detail.weightage);
        }
      
    }
// Any change event occuring on any input.staus (checkbox)...
$('.status').on('change', function(e) {
    // A boolean that reflects the checkbox "check status"
    let checked = $(this).is(':checked');
    // A simple confirm...
    let changed = confirm("Are you sure you want to change this status?");
    //... if user cancels...
    if (!changed) {
        /* ...ternary: [?][if checkbox is checked] - [uncheck it] [:][otherwise] - [check it]
        [return][Terminate function - don't do anything else] */
        return checked ? $(this).prop('checked', false) : $(this).prop('checked', true);
    }else{
        $.post("<%=APP_URL%>/update-topic-checklist-status", {
            topicChecklistId: $(this).val()
            }, function(data, status){
            toastr.success(data.message);
        });
    }
});
</script>

<%- contentFor('BottomJs') %>