<%- contentFor('HeaderCss') %>
<link href="public/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
<link href="public/assets/libs/bootstrap-datepicker/css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css">
<link href="public/assets/libs/spectrum-colorpicker2/spectrum.min.css" rel="stylesheet" type="text/css">
<link href="public/assets/libs/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" type="text/css">
<link href="public/assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="public/assets/libs/@chenfengyuan/datepicker/datepicker.min.css">
<%- contentFor('breadcrumb') %>
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">Edit Property & Wing</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="<%= process.env.APP_URL %>/propertys">Propertys</a></li>
                    <li class="breadcrumb-item active">Edit Property & Wing</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end page title -->
<%- contentFor('body') %>
<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Edit Property</h4>
                <form action="#">
                    <div class="mb-3">
                        <label class="form-label">Property Name<span class="required">*</span></label>
                        <input type="text" class="form-control" id="defaultconfig" placeholder="Enter Property Name" autofocus maxlength="200">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Address</label>
                        <textarea id="textarea" class="form-control" maxlength="225" rows="3" placeholder="This textarea has a limit of 225 chars."></textarea>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Select Location</label>
                        <input type="text" class="form-control" id="default" placeholder="Enter Location" maxlength="50">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Upload Img</label>
                        <input type="file" class="form-control" id="default" placeholder="" multiple>
                    </div>
                </form>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Other Information</h4>
                <form action="#">
                    <div class="mb-3">
                        <label class="form-label">Name of Owner<span class="required">*</span></label>
                        <input type="text" class="form-control" id="defaultconfig" placeholder="Enter Name of Owner" autofocus maxlength="200">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Area Name</label>
                        <textarea id="textarea" class="form-control" maxlength="225" rows="3" placeholder="This textarea has a limit of 225 chars."></textarea>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Squere Feet</label>
                        <input type="text" class="form-control" id="default" placeholder="Enter Squere Feet" maxlength="100">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Edit Wing <button type="button" class="btn btn-warning btn-sm waves-effect waves-light" style="float: right;"><i class="fa fa-plus"></i> Add Wing</button></h4>
                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Wing Name</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row" style="width: 10%;">1</th>
                                <td>Mark</td>
                                <td style="width: 10%;"><input type="checkbox" id="switch5" switch="warning" checked /><label for="switch5" data-on-label="Yes" data-off-label="No"></label></td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Mark 2</td>
                                <td><input type="checkbox" id="switch6" switch="warning" checked /><label for="switch6" data-on-label="Yes" data-off-label="No"></label></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-bottom:20px;">
    <div class="col-xl-2"></div>
    <div class="col-xl-6">
        <button type="button" class="btn btn-warning waves-effect waves-light"><i class="bx bx-check-double label-icon"></i> Update </button>
        <a href="<%= process.env.APP_URL %>/propertys"><button type="button" class="btn btn-danger waves-effect waves-light"><i class="bx bx-block label-icon"></i> Cancel</button></a>
    </div>  
</div>
<!-- end row -->
<%- contentFor('FooterJs') %>
<script src="public/assets/libs/select2/js/select2.min.js"></script>
<script src="public/assets/libs/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="public/assets/libs/spectrum-colorpicker2/spectrum.min.js"></script>
<script src="public/assets/libs/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
<script src="public/assets/libs/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
<script src="public/assets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
<script src="public/assets/libs/@chenfengyuan/datepicker/datepicker.min.js"></script>
<!-- Edit Property & Wing init -->
<script src="public/assets/js/pages/form-advanced.init.js"></script>
<%- contentFor('BottomJs') %>