<%- contentFor( 'HeaderCss') %>
<%- contentFor( 'breadcrumb') %>
<style>
    .text-center{text-align: center;}
</style>
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">Assign Equipments</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="/ppm">PPM</a></li>
                    <li class="breadcrumb-item active">Assign Equipments</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end page title -->
<%- contentFor( 'body') %>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-sm-8">
                        <div class="mb-2 row">
                            <label for="example-text-input" class="col-md-3 col-form-label">Select Property Name :-</label>
                            <div class="col-md-4">
                                <select class="form-select" onchange="getPropertyEquipmentList()" name="propertyId" id="propertyId" >
                                    <option value="">Select Property Name</option>
                                    <% for (i = 0; i < data.length; i++) { %>
                                        <option value="<%= data[i]._id %>"><%= data[i].property_name %></option>
                                    <% } %>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-md-6">
                        <h5 style="margin-top: 15px;">Equipments List</h5>
                    </div>
                    <div class="col-md-6">
                        <div class="text-sm-end">
                            <button type="button" hidden class="btn btn-warning btn-rounded waves-effect waves-light mb-2 me-2" data-bs-toggle="modal" data-bs-target=".ppmEquipmentListModel" id="selectEquipments"><b>Equipments List</b></button>
                            <button type="button" class="btn btn-warning btn-rounded waves-effect waves-light mb-2 me-2" onclick="selectEquipmentList()" ><b>SELECT EQUIPMENTS</b></button>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="table-responsive">
                    <table class="table align-middle table-nowrap table-check">
                        <thead class="table-light">
                            <tr>
                                <th class="text-center">Sr.No</th>
                                <th>Equipments Name</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody id="wingList">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end row -->

<!-- Equipments Name Modal -->
<div class="modal fade ppmEquipmentListModel" tabindex="-1" role="dialog" aria-labelledby="ppmEquipmentListModelL" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Equipments Name</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" id="ppmClose" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xl-4 col-sm-6">
                        <div id="ppmList">
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning waves-effect waves-light" onclick="submitPpmEquipment()" data-bs-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>

<script>
    let properties = <%-JSON.stringify(data)%>;
    let wings = [];
    let ppm = [];
    let assignPpmData = [];
    let selectedWings = [];
    let selectedPPM = [];
	
    function allPpmEquipmentSelect(){
        if($("#ppmCheck").is(":checked")){
            for(let i=0;i < ppm.length; i++){
                if(!$("#ppmCheck"+i).is(":checked")){
                    $("#ppmCheck"+i).click();
                }
            }
        }else{
            for(let i=0;i < ppm.length; i++){
                if($("#ppmCheck"+i).is(":checked")){
                    $("#ppmCheck"+i).click();
                }
            }
        }
    }
	
    function submitPpmEquipment(){
        selectedPPM = [];
        for(let i=0;i < ppm.length; i++){
            if($("#ppmCheck"+i).is(":checked")){
                selectedPPM.push($("#ppmCheck"+i).val());
            }
        }
        if(selectedPPM.length > 0){
            $("#ppmClose").click();
        }
        
        $.post("/add-property-wing",
        {
            propertyId: $("#propertyId").val(),
            ppmIds: selectedPPM,
        },
		function(data, status){
			if(data.status){
				alert(data.message);
				location.reload();
			}
		})
    }

    function selectEquipmentList(){
        if(!$("#propertyId").val()){
            toastr.error("Please first select property for assign equipments");
        } else {
			$("#selectEquipments").click();
        }
    }
    
    function EquipmentStatusChange(propertyId, wingId) {
        $.post("/update-property-wing-status",
		{
			propertyId: propertyId,
			wingId: wingId
		},
		function(data, status){
			let propertyIndex = properties.findIndex((x)=> x._id == propertyId);
			if(properties[propertyIndex].status){
				let wingIndex = properties[propertyIndex].wings.findIndex((x)=> x._id == wingId);

				if(properties[propertyIndex].wings[wingIndex]){
					if(properties[propertyIndex].wings[wingIndex].status == 0){
						properties[propertyIndex].wings[wingIndex].status = 1;
					}else{
						properties[propertyIndex].wings[wingIndex].status = 0;
					}
				}
			}
		});
    }

    function getPropertyEquipmentList(){
        let propertyIndex = properties.findIndex((x)=> x._id == $("#propertyId").val());
        let wingString = "";
        if(properties[propertyIndex]){
             $.get("/property-wing-list",
			{
				propertyId: $("#propertyId").val()
			},
            function(data, status){
                properties[propertyIndex].wings = data.wings;
                ppm = data.ppm;
                assignPpmData = data.assignPpmData;
                wings = properties[propertyIndex].wings;

				// set data in table view
				for(let i=0;i < assignPpmData.length; i++){
                    let selected = "";

					wingString = wingString + ` <tr>
                                    <td class="text-center" style="width: 5%;">`+(i+1)+`</td>
                                    <td>`+ assignPpmData[i].ppmEquipmentId.ppmEquipmentName +`</td>
                                    <td class="text-center" style="width: 15%;">
                                        <input type="checkbox" onchange="EquipmentStatusChange('`+ properties[propertyIndex]._id +`','`+ assignPpmData[i].ppmEquipmentId._id +`')" id="switch`+i+`" switch="success" `+ selected +`>
                                        <label for="switch`+i+`" data-on-label="Yes" data-off-label="No"></label>
                                    </td>
                                    <td class="text-center" style="width: 7%;">
										<a href="/assign-ppm-equipment-asset-list/`+ properties[propertyIndex]._id +`/`+ assignPpmData[i].ppmEquipmentId._id +`" class="btn btn-outline-warning"><b>Edit</b></a>
                                    </td>
                                </tr>`
                }
				// <a href="/edit-wing-category/`+ properties[propertyIndex]._id +`/`+ assignPpmData[i].ppmEquipmentId._id +`" class="btn btn-outline-warning"><b>Edit</b></a>
                $("#wingList").html(wingString);

				// set data in select box
				let ppmString = "";
				if(ppm.length > 0){
						ppmString = ppmString+`<div class="form-check mb-2">
										<input class="form-check-input" onchange="allPpmEquipmentSelect()" name="wings" type="checkbox" id="ppmCheck" value="">
										<label class="form-check-label" for="ppmCheck">All Equipments</label>
									</div>`;
					for(let i=0;i < ppm.length; i++){
						let selected = ""
						let assignPpmDataIndex = assignPpmData.findIndex((x)=> String(x.ppmEquipmentId._id) == String(ppm[i]._id));
						if (assignPpmDataIndex != -1) {
							selected = "checked"
						}
						ppmString = ppmString + `<div class="form-check mb-2">
										<input class="form-check-input" name="wings" type="checkbox" id="ppmCheck`+i+`" value="`+ ppm[i]._id + `" `+ selected +`>
										<label class="form-check-label" for="ppmCheck`+i+`">`+ ppm[i].ppmEquipmentName +` `+selected+`</label>
									</div>`;
					}
				}
				$("#ppmList").html(ppmString);
            }) 
        }else{
            $("#wingList").html(wingString);
        }
    }
</script>
<!-- end modal -->
<%- contentFor( 'FooterJs') %>
<%- contentFor( 'BottomJs') %>