<%- contentFor('HeaderCss') %>
<%- contentFor('breadcrumb') %>
<style>
    .text-center{text-align: center;}
</style>
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">Edit PPM (<%= data.ppmName %>)</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                    <li class="breadcrumb-item"><a href="/ppm">PPM</a></li>
                    <li class="breadcrumb-item active"><b>Edit PPM</b></li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end page title -->

<%- contentFor('body') %>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-sm-8">
                        <div class="mb-3 row">
                            <label for="example-text-input" class="col-md-2 col-form-label">PPM Name
                                :-</label>
                            <div class="col-md-3">
                                <input class="form-control" type="text" id="ppmName"
                                    placeholder="Compliance" value="<%= data.ppmName %>">
                            </div>
                            <div class="col-md-3">
                                <button type="button" onclick="ppmNameChange()"
                                    class="btn btn-primary waves-effect waves-light">Edit</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="text-sm-end">
                            <button type="button" onclick="detailTask(-1)"
                                class="btn btn-success btn-rounded waves-effect waves-light mb-2 me-2"
                                data-bs-toggle="modal" data-bs-target=".orderdetailsModal"><i
                                    class="mdi mdi-plus me-1"></i> Add Task </button>
                        </div>
                    </div><!-- end col-->
                </div>

                <div class="table-responsive">
                    <table class="table align-middle table-nowrap table-check">
                        <thead class="table-light">
                            <tr>
                                <th class="align-middle">Sr.No</th>
                                <th class="align-middle">Task Name</th>
                                <th class="align-middle">Frequency</th>
                                <th class="align-middle">Vendor Name</th>
                                <th class="align-middle">Status</th>
                                <th class="align-middle">Filde</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if(taskData.length ==0) { %>
                                <tr><td colspan="4" class="text-center">No data found</td></tr>
                            <% } %>
                            <% for(let i = 0;i<taskData.length;i++){ %>
                            <tr>
                                <td><a href="javascript: void(0);" class="text-body fw-bold"><%= (10*(page-1))+ 1 + i %></a>
                                </td>
                                <td><%= taskData[i].taskName %></td>
                                <td>
                                    <% if(taskData[i].frequency == "monthly"){ %>
                                        Monthly
                                    <% }else if(taskData[i].frequency == "quarterly"){ %>
                                        Quarterly
                                    <% }else if(taskData[i].frequency == "annually"){ %>
                                        Annually
                                    <% }else if(taskData[i].frequency == "bi-annually"){ %>
                                        Annually
                                    <% }else if(taskData[i].frequency == "weekly"){ %>
                                        Weekly
                                    <% } %>
                                </td>
                                <td><%= taskData[i].vendorName %></td>
                                <td>
                                    <input type="checkbox" id="switch<%= i %>" onchange="taskChange('<%= taskData[i].taskId %>','<%= data.ppmId %>')" switch="success" <% if(taskData[i].status == 1){ %> checked <% } %>>
                                    <label for="switch<%= i %>" data-on-label="Yes" data-off-label="No"></label>
                                </td>
                                <td>
                                    <a href="javascript: void(0);" >
                                        <button type="button" class="btn btn-primary waves-effect waves-light"
                                        data-bs-toggle="modal" onclick="detailTask(<%= i %>)" data-bs-target=".orderdetailsModal">Edit</button>
                                    </a>
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
                <ul class="pagination pagination-rounded justify-content-end mb-2">
                    <% if(page > 1){ %>
                        <li class="page-item disabled">
                            <a class="page-link" href="/edit-ppm/<%=data.ppmId%>?page=<%=i-1%>" aria-label="Previous">
                                <i class="mdi mdi-chevron-left"></i>
                            </a>
                        </li>
                    <% } %>
                    <% for (i = page; i <= totalPage; i++) { %>
                        <li class="page-item  active"><a class="page-link" href="/edit-ppm/<%=data.ppmId%>?page=<%=i%>"><%=i%></a></li>
                    <% } %>
                    <% if(page < totalPage){ %>
                    <li class="page-item">
                        <a class="page-link" href="/edit-ppm/<%=data.ppmId%>?page=<%=i+1%>" aria-label="Next">
                            <i class="mdi mdi-chevron-right"></i>
                        </a>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- end row -->

<!-- Add Task Modal -->
<div class="modal fade orderdetailsModal" tabindex="-1" role="dialog" aria-labelledby="orderdetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="orderdetailsModalLabel">Add Task</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/update-ppm-task" method="POST" enctype="multipart/form-data" class="custom-validation">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <label for="example-text-input" class="col-md-4 col-form-label">PPM Name :- </label>
                        <label for="example-text-input" class="col-md-3 col-form-label"><%= data.ppmName %></label>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-12">
                        <div class="mb-3 row">
                            <input type="hidden" name="taskId" id="taskId" value="">
                            <input type="hidden" name="ppmId" id="ppmId" value="<%= data.ppmId %>">
                            <label for="example-text-input" class="col-md-4 col-form-label">Task Name :-
                            </label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" value=""
                                    id="taskName" name="taskName" required
                                    placeholder="DG (200 KVA) - No Load Test (Month)">
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label for="example-text-input" class="col-md-4 col-form-label">Vendor Name :-
                            </label>
                            <div class="col-md-8">
                                <input class="form-control" type="text" value="" name="vendorName" required
                                    id="vendorName" placeholder="AMC Required">
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label class="col-md-4 col-form-label">Frequency :-</label>
                            <div class="col-md-8">
                                <select class="form-control" name="frequency" id="frequency" required>
                                   
                                </select>
                            </div>
                        </div>

                        <div class="mb-3 row">
                            <label class="col-md-2 col-form-label">Month:-</label>
                            <div class="col-md-4">
                                <select class="form-select" id="month" name="month">
                                    
                                </select>
                            </div>
                            <label class="col-md-2 col-form-label">Date :-</label>
                            <div class="col-md-4">
                                <select class="form-select" name="date" id="date">
                                    
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary waves-effect waves-light" >submit</button>
            </div>
            </form>
        </div>
    </div>
</div>
<!-- end modal -->

<script>
    <% if(error){ %>
        alert('<%=error%>');
    <% } %>
    <% if(message){ %>
        alert('<%=message%>');
    <% } %>
    let taskData = <%-JSON.stringify(taskData)%>;
    let frequencyArray = [{
        id:'weekly',
        string:"Weekly"
    },{
        id:'monthly',
        string:"Monthly"
    },{
        id:'quarterly',
        string:"Quarterly"
    },{
        id:'annually',
        string:"Annually"
    },{
        id:'bi-annually',
        string:"Bi-Annually"
    }]
    let monthsList = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
    function taskChange(id,ppmId){
      $.post("/update-ppm-task-status",
      {
        ppmId: ppmId,
        taskId: id
      },
      function(data, status){
       
      });
    }

    function detailTask(taskindex){
        let detail;
        let monthString = "";
        let frequencyString = "";
        let dayString = "";
        if(taskindex == -1){
            detail = {
                frequency:1,
                month:1,
                date:1,
                taskId:"",
            }
        }else{
            detail = taskData[taskindex];
        }
        
            frequencyArray.forEach(function(frequency){
                if(frequency.id == detail.frequency){
                    frequencyString = frequencyString + '<option value="'+frequency.id+'" selected>'+frequency.string+'</option>';
                }else{
                    frequencyString = frequencyString + '<option value="'+frequency.id+'" >'+frequency.string+'</option>';
                }
            })
            monthsList.forEach(function(month,index){
                if((index+1) == detail.month){
                    monthString = monthString + '<option value="'+(index+1)+'" selected>'+month+'</option>';
                }else{
                    monthString = monthString + '<option value="'+(index+1)+'" >'+month+'</option>';
                }
            })
            for (i = 1; i < 32; i++) {
                if(i == detail.date){
                    dayString = dayString + '<option selected value="'+i+'">'+i+'</option>';
                }else{
                    dayString = dayString + '<option value="'+i+'">'+i+'</option>';
                }
            }

            $("#frequency").html(frequencyString);
            $("#month").html(monthString);
            $("#date").html(dayString);
            $("#taskId").val(detail.taskId);
            $("#vendorName").val(detail.vendorName);
            $("#taskName").val(detail.taskName);
            console.log(detail);
    }
    function ppmNameChange(){
        if($("#ppmName").val().trim() != ""){
          $.post("/update-ppm-name",
          {
            ppmId: '<%= data.ppmId %>',
            ppmName: $("#ppmName").val().trim()
          },
          function(data, status){
            if(data.sucess){
                alert(data.message);
            }else{
                alert(data.message);
            }
          });
        }
    }

</script>
<%- contentFor('FooterJs') %>
<%- contentFor('BottomJs') %>