<%- contentFor('HeaderCss') %>

<link href="<%=process.env.APP_URL%>/public/assets/libs/spectrum-colorpicker2/spectrum.min.css" rel="stylesheet" type="text/css">

<%- contentFor('breadcrumb') %>
<style>
    .text-center{text-align: center;}
</style>
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">Setting</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="<%=APP_URL%>/">Dashboard</a></li>
                    <li class="breadcrumb-item active">Setting</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end page title -->
<%- contentFor('body') %>
<div class="row">
	<div class="col-5">
		<div class="card">
			<div class="card-body">
				<form action="<%=APP_URL%>/store-rating-setting" method="post">
					<h4 class="card-title">Rating Setting 
						<a href="javascript:void(0);" class="add_button btn btn-warning" style="float: right; margin-top: -10px !important;" title="Add field">
							Add Rate
						</a>
					</h4><hr>
					<div class="row">
						<div class="col-5">
							<label class="col-form-label" style="text-align: center;">Name</label>
						</div>
						<div class="col-3">
							<label class="col-form-label" style="text-align: center;">Min(%)</label>
						</div>
						<div class="col-3">
							<label class="col-form-label" style="text-align: center;">Max(%)</label>
						</div>
					</div>
	
					<% for( let i = 0; i < data.length; i++ ) { %>
						<div class="row">
							<div class="col-5 p-1">
								<input type="text" class="form-control" name="rating_name[<%=i%>]" value="<%= data[i].rating_name %>" placeholder="Enter Rating Name" required/>
							</div>
							<div class="col-3 p-1">
								<input type="number" class="form-control" name="min_rating[<%=i%>]" value="<%= data[i].min_rating %>" step="any" min="1" max="100" oninput="validateMinMaxNumber(this)" placeholder="Min Rating" required/>
							</div>
							<div class="col-3 p-1">
								<input type="number" class="form-control" name="max_rating[<%=i%>]" value="<%= data[i].max_rating %>" step="any" min="1" max="100" oninput="validateMinMaxNumber(this)" placeholder="Max Rating" required/>
							</div>
						</div>
					<% } %>
					<div class="input_field_wrapper">
					</div>
					<div class="row justify-content-center mt-3">
						<div class="col-5 p-1 text-center">
							<button type="submit" class="btn btn-warning">Submit</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="col-5">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col-12">
						<h4 class="card-title">PPM Risk Assessment Status Color</h4>
						<%#= errors %>
						<form method="post" action="<%=APP_URL%>/store-ppm-risk-assessment-color" class="row row-cols-lg-auto g-3 align-items-center">
							<div class="col-12">
								<label class="visually-hidden">Add color</label>
								<input type="text" class="form-control" id="colorpicker-togglepaletteonly" name="color_name" value="" placeholder="Add Color">
								<p style="color: red;"><%=(typeof errors != 'undefined' && typeof errors.errMsg != 'undefined' && typeof errors.errMsg.color_name != 'undefined' ) ? errors.errMsg.color_name.message: ''%></p>
							</div>
							<div class="col-12" style="    align-self: normal;">
								<button type="submit" class="btn btn-primary w-md">Add</button>
								<!-- <p style="margin-top: 0px;"></p> -->
							</div>
						</form>
					</div>
					<div class="table-responsive mt-3">
						<table class="table mb-0">
							<thead>
								<tr>
									<th style="width: 5%;">#</th>
									<th class="text-end">Color</th>
									<th class="text-center">Color code</th>
									<th style="width: 10%;">Action</th>
								</tr>
							</thead>
							<tbody>
								<% for( let i = 0; i < SettingPpmRiskAssessmentColorData.length; i++ ) { %>
									<tr>
										<th scope="row"><%= i+1 %></th>
										<th>
											<div style="float: right; border-radius: 50%; width: 20px; height: 20px; margin-left: 10px;background: <%= SettingPpmRiskAssessmentColorData[i].color_name %>;"></div>
										</th>
										<td class="text-center"><%= SettingPpmRiskAssessmentColorData[i].color_name %></td>
										<td><a href="<%=APP_URL%>/delete-ppm-risk-assessment-color/<%= SettingPpmRiskAssessmentColorData[i]._id %>" class="text-danger" onclick="return confirm('Are you sure?')">delete</a></td>
									</tr>
								<% } %>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end row -->
<%- contentFor('FooterJs') %>

<script src="<%=process.env.APP_URL%>/public/assets/libs/spectrum-colorpicker2/spectrum.min.js"></script>

<script>
	//colorpicker start
    $("#colorpicker-togglepaletteonly").spectrum({
		showPaletteOnly: true,
		togglePaletteOnly: true,
		togglePaletteMoreText: 'more',
		togglePaletteLessText: 'less',
		color: '',
		palette: [
			["#000","#444","#666","#999","#ccc","#eee","#f3f3f3","#fff"],
			["#f00","#f90","#ff0","#0f0","#0ff","#00f","#90f","#f0f"],
			["#f4cccc","#fce5cd","#fff2cc","#d9ead3","#d0e0e3","#cfe2f3","#d9d2e9","#ead1dc"],
			["#ea9999","#f9cb9c","#ffe599","#b6d7a8","#a2c4c9","#9fc5e8","#b4a7d6","#d5a6bd"],
			["#e06666","#f6b26b","#ffd966","#93c47d","#76a5af","#6fa8dc","#8e7cc3","#c27ba0"],
			["#c00","#e69138","#f1c232","#6aa84f","#45818e","#3d85c6","#674ea7","#a64d79"],
			["#900","#b45f06","#bf9000","#38761d","#134f5c","#0b5394","#351c75","#741b47"],
			["#600","#783f04","#7f6000","#274e13","#0c343d","#073763","#20124d","#4c1130"]
		]
  	});
</script>

<script type="text/javascript">
	$(document).ready(function(){
		let dataRow = parseInt('<%= data.length %>');
		let i = dataRow + 1;
		let maxAddRow = 7;

		// add row
		$(".add_button").click(function () {
			var html = '';
			html += '<div class="row">'
			html += '<div class="col-5 p-1">'
			html += '<input type="text" class="form-control" name="rating_name['+i+']" placeholder="Enter Rating Name" required/>'
			html += '</div>'
			html += '<div class="col-3 p-1">'
			html += '<input type="text" class="form-control" name="min_rating['+i+']" min="1" max="100" oninput="validateMinMaxNumber(this)" placeholder="Min Rating" required/>'
			html += '</div>'
			html += '<div class="col-3 p-1">'
			html += '<input type="text" class="form-control" name="max_rating['+i+']" min="1" max="100" oninput="validateMinMaxNumber(this)" placeholder="Max Rating" required/>'
			html += '</div>'
			html += '<div class="col-1 p-1">'
			html += '<a href="javascript:void(0);" class="remove_button btn btn-danger">-</a>'
			html += '</div>'
			html += '</div>'
			
			if(i < maxAddRow){
				$('.input_field_wrapper').append(html);
				i++;
			}
		});

		// remove row
		$(document).on('click', '.remove_button', function () {
			$(this).closest('.row').remove();
			i--;
		});
	});
</script>

<script>
	function validateMinMaxNumber(element) {
		let min = element.min ? parseInt(element.min) : 0;
		let max = element.max ? parseInt(element.max) : 1;
		let value = parseInt(element.value);

		if (value >= min && value <= max) {
			value = value;
		} else {
			$(element).val(element.value.slice(0,-1));
		}
    }
</script>



<%- contentFor('BottomJs') %>