<%- contentFor('HeaderCss') %>
<link href="<%=process.env.PUBLIC_URL%>/public/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
<%- contentFor('breadcrumb') %>
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">Edit User</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/users">User</a></li>
                    <li class="breadcrumb-item active">Edit User</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end page title -->
<%- contentFor('body') %>
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <form action="/update-user" method="POST" enctype="multipart/form-data">
					<input type="hidden" name="_id" value="<%= data[0]._id %>">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Full Name<span class="required">*</span></label>
                                <input type="text" name="full_name" class="form-control" value="<%= data[0].full_name %>" id="defaultconfig" placeholder="Enter Fullname" autofocus maxlength="200">
								<% for(const errorMsg of error) { if (errorMsg.path[0] == 'full_name') { %>
									<p style="color: red;"><%= errorMsg.message %> </p>
								<% } } %>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Position<span class="required">*</span></label>
                                <select class="form-control" name="position_id">
                                    <option value="">Select Position</option>
                                    <option value="2" <% if(data[0].position_id == 2) {%> selected <% } %> >Operation Team</option>
                                    <option value="3" <% if(data[0].position_id == 3) {%> selected <% } %> >Auditor</option>
                                    <option value="4" <% if(data[0].position_id == 4) {%> selected <% } %> >Manager</option>
                                    <option value="5" <% if(data[0].position_id == 5) {%> selected <% } %> >Supervisor</option>
                                </select>
								<% for(const errorMsg of error) { if (errorMsg.path[0] == 'position_id') { %>
									<p style="color: red;"><%= errorMsg.message %> </p>
								<% } } %>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Email<span class="required">*</span></label>
                                <input type="text" name="email" class="form-control" id="defaultconfig" value="<%= data[0].email %>" placeholder="Enter Email" maxlength="150">
								<% for(const errorMsg of error) { if (errorMsg.path[0] == 'email') { %>
									<p style="color: red;"><%= errorMsg.message %> </p>
								<% } } %>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Property Name<span class="required">*</span></label>
                                <select name="property_id" class="select2 form-control select2-multiple" multiple="multiple" data-placeholder="Choose Property Name...">
                                    <% for( let i = 0; i < propertyData.length; i++ ) { %>
										<option value="<%= propertyData[i]._id %>"><%= propertyData[i].property_name %> </option>
									<% } %>
                                </select>
								<% for(const errorMsg of error) { if (errorMsg.path[0] == 'property_id') { %>
									<p style="color: red;"><%= errorMsg.message %> </p>
								<% } } %>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Mobile No<span class="required">*</span></label>
                                <input type="text" name="mobile_no" class="form-control" value="<%= data[0].mobile_no %>" id="defaultconfig" placeholder="Enter Mobile No" maxlength="15">
								<% for(const errorMsg of error) { if (errorMsg.path[0] == 'mobile_no') { %>
									<p style="color: red;"><%= errorMsg.message %> </p>
								<% } } %>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Upload Img<span class="required">*</span></label>
                                <input type="file" name="profile_image" class="form-control" maxlength="200">
								<% for(const errorMsg of error) { if (errorMsg.path[0] == 'profile_image') { %>
									<p style="color: red;"><%= errorMsg.message %> </p>
								<% } } %>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Address<span class="required">*</span></label>
                                <textarea type="text" name="address" class="form-control" id="defaultconfig" placeholder="Enter Address Here..." maxlength="300"><%= data[0].address %></textarea>
								<% for(const errorMsg of error) { if (errorMsg.path[0] == 'address') { %>
									<p style="color: red;"><%= errorMsg.message %> </p>
								<% } } %>
							</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5"></div>
                            <div class="col-md-6">
                            <button type="submit" class="btn btn-warning waves-effect waves-light"><i class="bx bx-check-double label-icon"></i> Update</button>
                            <a href="/users"><button type="button" class="btn btn-danger waves-effect waves-light"><i class="bx bx-block label-icon"></i> Cancel</button></a></div>
                        </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- end row -->
<%- contentFor('FooterJs') %>
<script src="<%=process.env.PUBLIC_URL%>/public/assets/libs/select2/js/select2.min.js"></script>
<script src="<%=process.env.PUBLIC_URL%>/public/assets/libs/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
<!-- Add Property & Wing init -->
<script src="<%=process.env.PUBLIC_URL%>/public/assets/js/pages/form-advanced.init.js"></script>
<%- contentFor('BottomJs') %>