<%- contentFor('HeaderCss') %>
<%- contentFor('breadcrumb') %>
<style>
    .text-center{text-align: center;}
</style>
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0 font-size-18">Master User</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="<%=APP_URL%>/">Dashboard</a></li>
                    <li class="breadcrumb-item active">Master User</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- end page title -->

<%- contentFor('body') %>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form method="GET" action="<%=APP_URL%>/users" id="form">
                <div class="row mb-2">
                    <!-- start searching -->
                    <div class="col-sm-3">
                        <div class="search-box">
                            <div class="position-relative">
                                <input type="text" name="search" value="<%= search %>" class="form-control" placeholder="Search..."><i class="bx bx-search-alt search-icon"></i>
                                <input type="hidden" name="page" id="page" value="<%= page %>">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3" style="padding: 0px;">
                        <button type="button" onclick="pagination(1)" class="btn btn-warning btn-rounded waves-effect waves-light"><i class="bx bx-search-alt search-icon"></i> Search</button>
                    </div>
                    <!-- end searching -->
                    <div class="col-sm-6">
                        <div class="text-sm-end">
                            <a href="<%=APP_URL%>/create-users"><button type="button" class="btn btn-warning btn-rounded waves-effect waves-light mb-2 me-2" style="float: right;"><b>ADD USER</b></button></a>
                        </div>
                    </div>
                </div>
                </form>
                <hr>
                <div class="table-responsive" id="userTable">
                    <table class="table align-middle table-nowrap table-check">
                        <thead>
                            <tr>
                                <th style="text-align: center;">#</th>
                                <th style="text-align: center;width: 10%;">Profile Image</th>
                                <th>Name</th>
                                <th>Mobile No</th>
                                <th>Email ID</th>
                                <th>Address</th>
                                <th>Position</th>
                                <th style="text-align: center;">Status</th>
                                <th style="width: 10%;text-align: center;">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                                <% if(data.length ==0) { %>
                                    <tr><td colspan="9" class="text-center">No data found</td></tr>
                                <% } %>
                                <% for (i = 0; i < data.length; i++) { %>
                                    <tr>
                                        <td style="width: 5%;text-align: center;"><%= (10*(page-1))+ 1 + i %></td>
                                        <td style="text-align: center;">
                                            <img src="<%= data[i].profile_image %>" onerror="this;this.src='<%=process.env.APP_URL%>/public/images/users/user-profile.png';" alt="Profile Image" class="rounded-circle" height="50px" width="50px" >
                                        </td>
                                        <td><%= data[i].full_name %></td>
                                        <td><%= data[i].mobile_no %></td>
                                        <td><%= data[i].email %></td>
                                        <td><%= data[i].address %></td>
                                        <td><%= data[i].position_type %></td>
                                        <td style="width: 10%;text-align: center;">
                                            <input type="checkbox" id="switch<%=i+1%>" class="status" switch="warning" value="<%= data[i]._id %>" <%= data[i].status == 1 ? 'checked' : '' %>/>
                                            <label for="switch<%=i+1%>" data-on-label="Yes" data-off-label="No"></label>
                                        </td>
                                        <td style="width: 10%;text-align: center;"><a href="<%=APP_URL%>/edit-users/<%= data[i]._id %>"> 
                                            <button class="btn btn-outline-warning"><b>Edit</b></button></a>
                                            <a href="<%=APP_URL%>/view-users/<%= data[i]._id %>"><button class="btn btn-outline-secondary"><b>View</b></button></a>
                                        </td>
                                    </tr>
                                <% } %>
                            </tbody>
                    </table>
                </div>
                <ul class="pagination pagination-rounded justify-content-end mb-2">
                    <% if(page > 1){ %>
                        <li class="page-item">
                            <a class="page-link" href="#" onclick="pagination(<%=(Number(page)-1)%>)" aria-label="Previous">
                                <i class="mdi mdi-chevron-left"></i>
                            </a>
                        </li>
                    <% } %>
                    <% for (i = 1; i <= totalPage; i++) { %>
                        <li class="page-item  <% if(page == i){ %> active <% } %>"><a class="page-link"  href="#" onclick="pagination(<%=i%>)"><%=i%></a></li>
                    <% } %>
                    <% if(page < totalPage){ %>
                    <li class="page-item">
                        <a class="page-link" href="#" onclick="pagination(<%=(Number(page)+1)%>)" aria-label="Next">
                            <i class="mdi mdi-chevron-right"></i>
                        </a>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- end row -->
<%- contentFor('FooterJs') %>
<script>   
// Any change event occuring on any input.staus (checkbox)...
$('.status').on('change', function(e) {
    // A boolean that reflects the checkbox "check status"
    let checked = $(this).is(':checked');
    // A simple confirm...
    let changed = confirm("Are you sure you want to change this status?");
    //... if user cancels...
    if (!changed) {
        /* ...ternary: [?][if checkbox is checked] - [uncheck it] [:][otherwise] - [check it]
        [return][Terminate function - don't do anything else] */
        return checked ? $(this).prop('checked', false) : $(this).prop('checked', true);
    }else{
        $.post("update-user-status", {
            user_id: $(this).val()
            }, function(data, status){
            toastr.success(data.message);
        });
    }
});
</script>
<script>
    function pagination(i){
        $("#page").val(i);
        $("#form").submit();
    }
</script>

<%- contentFor('BottomJs') %>